In [23]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import count, sum
spark = SparkSession.builder.appName("Challenge 1").getOrCreate()
df = spark.read.format("CSV").option("header", True).load("../resources/population.csv")

In [29]:
df.printSchema()
df.show(1)
df.count()

root
 |-- Country Name: string (nullable = true)
 |-- Country Code: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Value: string (nullable = true)

+------------+------------+----+-----+
|Country Name|Country Code|Year|Value|
+------------+------------+----+-----+
|       Aruba|         ABW|1960|54608|
+------------+------------+----+-----+
only showing top 1 row

16400

In [27]:
df.groupBy("Country Name").agg(count("*").alias("Count")
                                ,sum("Value").alias("Total Value")).show()

+--------------------+------+----------------+
|        Country Name|county|     Total Value|
+--------------------+------+----------------+
|          South Asia|    62| 7.3697216921E10|
|                Chad|    62|    4.63011654E8|
| Lower middle income|    62|1.29367376599E11|
|            Paraguay|    62|    2.57618836E8|
| Low & middle income|    62|2.67739006632E11|
|Heavily indebted ...|    62|  2.572405702E10|
|               World|    62|3.32735496461E11|
|    Congo, Dem. Rep.|    62|      2.650141E9|
|             Senegal|    62|    5.21042734E8|
|          Cabo Verde|    62|     2.4432038E7|
|              Sweden|    62|    5.39220562E8|
|East Asia & Pacif...|    62| 9.6024334075E10|
|            Kiribati|    62|       4983253.0|
|Least developed c...|    62| 3.5517606878E10|
|              Guyana|    62|     4.5799217E7|
|             Eritrea|    62|    1.33768163E8|
|         Philippines|    62|    4.07731583E9|
|Pacific island sm...|    62|    1.09126859E8|
|            Djibouti|    62|     3.4068938E7|
|               Tonga|    62|       5987216.0|
+--------------------+------+----------------+
only showing top 20 rows